MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.8yc5x.mongodb.net/?retryWrites=true&w=majority&appName=Portfolio
DB_NAME=portfolio
PORT=5000
NODE_ENV=development
JWT_SECRET=your-secret-key-change-in-production
UPLOAD_DIR=uploads
